//
// Component: Text
//
// ========================================================================


// Variables
// ========================================================================

@text-small-font-size:                          round((@global-font-size * 0.78)); // 11px / 12px
@text-small-line-height:                        round((@text-small-font-size * 1.49)); // 16px / 18px
@text-large-font-size:                          round((@global-font-size * 1.28)); // 18px / 20px
@text-large-line-height:                        round((@text-large-font-size * 1.32)); // 24px / 26px

@text-muted-color:                              @global-muted-color;
@text-primary-color:                            #2ac5d5;
@text-contrast-color:                           @global-contrast-color;


// Miscellaneous
// ========================================================================

.hook-text-misc() {}
